body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ddd;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
button, img, a {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Or margin-right on the first button */
}
.button-container a {
    text-decoration: none;
}

.greet-button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.greet-button:hover {
    background-color: #555;
}

.monkeytype {
  align-items: center;
  justify-content: centre;
  height: 40px;
  width: 56px;  
  background-position: center;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  padding: 0px;
  transition: background-color 0.15s;
}
.monkeytype:active{
    background-color: rgb(85, 85, 85);
}
.html{
    height: 40px;
    width: 42px;  
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    padding: 0px;
    transition: background-color 0.15s;
}
.html:active{
    background-color: rgb(85, 85, 85);
}
.css{
    height: 40px;
    width: 42px;  
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    padding: 0px;
    transition: background-color 0.15s;
}
.css:active{
    background-color: rgb(85, 85, 85);
}
.js{
    height: 40px;
    width: 42px;  
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    padding: 0px;
    transition: background-color 0.15s;
}
.js:active{
    background-color: rgb(85, 85, 85);
}
.c{
    height: 40px;
    width: 42px;  
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    padding: 0px;
    transition: background-color 0.15s;
}
.c:active{
    background-color: rgb(85, 85, 85);
}